{% extends 'base.html' %}
{% block title %}Docker Service{% endblock %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/vm.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-slider.css' %}">
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/vm.js' %}"></script>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            var server_ip = '';
            var addrli = '';
            var ram = '';
            var cpu = '';
            var usetimeli = '';
            var installwayli = '';
            var addressli = '';
            $(".serverli").click(function () {
                server_ip = $(this).find('input[type=button]').attr("id");
                $.ajax({
                    type: "POST",
                    data: {
                        'server_ip': server_ip,
                    },
                    url: "/admins/get_domain_by_ip/",
                    success: function (data) {
                        var domain_list = data['domain'];
                        var os_list = data['docker_os'];
                        var content = "";
                        for(var i=0; i<domain_list.length; i++){
                            content += '<li class="addrli"><input type="button" value="'+ domain_list[i].domain + '" id="' + domain_list[i].id + '"></li>'
                        }
                        $("#addul").html(content);
                        $('.addrli input').click(function () {
                            if ($('.addrli input').hasClass('addrdown')) {
                                $('.addrli input').removeClass('addrdown');
                                $(this).addClass('addrdown');
                            } else {
                                $(this).addClass('addrdown');
                            }
                        });
                        $(".addrli").click(function () {
                            addrli = $(this).find('input[type=button]').attr("id");
                            var domain_name = $(this).find('input[type=button]').attr('value');
                            $.ajax({
                                type: "POST",
                                data: {
                                    'server_ip': server_ip,
                                    'domain_name': domain_name,
                                },
                                url: "/admins/get_node_by_name/",
                                success: function (data) {
                                    console.log(data);
                                    var node_list = data['node'];
                                    var content = "";
                                    for(var i=0; i<node_list.length; i++){
                                        content += '<li class="addressli"><input type="button" value="'+ node_list[i].host_name + '" id="' + node_list[i].id + '"></li>'
                                    }
                                    $("#addressul").html(content);
                                    $('.addressli input').click(function () {
                                        if ($('.addressli input').hasClass('addrdown')) {
                                            $('.addressli input').removeClass('addrdown');
                                            $(this).addClass('addrdown');
                                        } else {
                                            $(this).addClass('addrdown');
                                        }
                                    });
                                    $(".addressli").click(function () {
                                        addressli = $(this).find('input[type=button]').attr("id");
                                    });
                                }
                            })
                        });
                        content = '<option value="">-------选择容器镜像-------</option>';
                        for(var i=0; i<os_list.length; i++){
                            content += '<option value="' + os_list[i].id + '">'+ os_list[i].img_name +'</option>'
                        }
                        $("#os_select").html(content);
                        var docker_img = $(".chosen-select-os").find("option:selected").text();
                    }
                })
            });
            $(".addrli").click(function () {
                addrli = $(this).find('input[type=button]').attr("id");
                var domain_name = $(this).find('input[type=button]').attr('value');
                $.ajax({
                    type: "POST",
                    data: {
                        'server_ip': server_ip,
                        'domain_name': domain_name,
                    },
                    url: "/admins/get_node_by_name/",
                    success: function (data) {
                        var node_list = data['node'];
                        var content = "";
                        for(var i=0; i<node_list.length; i++){
                            content += '<li class="addressli"><input type="button" value="'+ node_list[i].host_name + '" id="' + node_list[i].id + '"></li>'
                        }
                        $("#addressul").html(content);
                        $('.addressli input').click(function () {
                            if ($('.addressli input').hasClass('addrdown')) {
                                $('.addressli input').removeClass('addrdown');
                                $(this).addClass('addrdown');
                            } else {
                                $(this).addClass('addrdown');
                            }
                        });
                        $(".addressli").click(function () {
                            addressli = $(this).find('input[type=button]').attr("id");
                        });
                    }
                })
            });
            $(".addressli").click(function () {
                addressli = $(this).find('input[type=button]').attr("id");
            });

            $(".subinput").click(function () {
                var docker_region = addrli;
                var node= addressli;

                var raminput = $(".raminput").val();
                switch (raminput) {
                    case "1":
                        ram = 0.1;
                        break;
                    case "2":
                        ram = 0.2;
                        break;
                    case "3":
                        ram = 0.3;
                        break;
                    case "4":
                        ram = 0.4;
                        break;
                }
                ;
                var docker_img = $(".chosen-select-os").find("option:selected").text();
                var cpuinput = $(".cpuinput").val();
                switch (cpuinput) {
                    case "1":
                        cpu = 1;
                        break;
                    case "2":
                        cpu = 2;
                        break;
                    case "3":
                        cpu = 4;
                        break;
                    case "4":
                        cpu = 8;
                        break;
                }
                ;
                var apply_time = Math.floor(new Date().getTime() / 1000);
                var password = $(".ps").val();
                $.ajax({
                    type: "POST",
                    data: {
                        'docker_region': docker_region,
                        'docker_img': docker_img,
                        'apply_time': apply_time,
                        'memory': ram,
                        'cpu': cpu,
                        'node':node,
                        'selected_class':selectclass,
						'selected_classNum':selected_classNum,
                        'server_ip': server_ip,
                    },
                    url: "{% url 'container:apply_docker' %}",
                    success: function (data) {
                        console.log(data)

                        if (data["st"] == 1) {
                            alert("申请成功，请等待管理员审核")
                            window.location.href = "{% url 'index' %}"
                        } else {
                            alert("申请失败")
                            window.location.href = "{% url 'container:apply_docker' %}"
                        }
                    },
                    error: function () {
                        alert("false");
                    }
                })
            })
        })
    </script>

    <section id="program" class="parallax-section">
        <div class="container">
            <div class="row">

                <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.6s">
                    <div class="section-title">
                        <h2>容器申请</h2>
                    </div>
                </div>
                <form>
                    <div class="server">
                        <dl>
                            <dd>
                                <label>服务器选择：</label>
                                <ul class="serverul">
                                    {% for server in server_list %}
                                        <li class="serverli">
                                            <input type="button" value="{{ server }}" id="{{ server }}">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="addr">
                        <dl>
                            <dd>
                                <label>地域选择： </label>
                                <ul class="addul" id="addul">
                                    {% for domain in domain_list %}
                                        <li class="addrli">
                                            <input type="button" value="{{ domain.domain }}" id="{{ domain.id }}">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        </dl>
                        </br>
                    </div>
                    <div class="node">
                        <dl>
                            <dd>
                                <label>节点选择： </label>
                                <ul class="addressul" id="addressul">
                                    {% for node in node_list %}
                                        <li class="addressli">
                                            <input type="button" value="{{ node.host_name }}" id="{{ node.id }}">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        </dl>
                        </br>
                    </div>

                    <div class="sys">
                        <dl>
                            <dd>
                                <label>类型：   </label>
								<select data-placeholder="选择类型" name="" id="selectclass">
                                    <option value="">-------选择类型-------</option>
                                    <option value="1">无人机</option>
                                    <option value="2">无人车</option>
                                    <option value="3">无人船</option>
                                </select>
								<ul class="" id="selectchild">
								       <li class="">
								           <select data-placeholder="选择无人机型号" id="selected1" class="chosen-select-class" style="display:none">
								               <option value="">-------选择无人机型号-------</option>
								               <option value="101">101</option>
								               <option value="102">102</option>
								               <option value="103">103</option>
								               <option value="104">104</option>
								               <option value="105">105</option>
								               <option value="106">106</option>
								           </select>
								       </li>
								       <li class="">
								           <select data-placeholder="选择无人车型号" id="selected2" class="chosen-select-class" style="display:none">
								               <option value="">-------选择无人车型号-------</option>
								               <option value="201">201</option>
								               <option value="202">202</option>
								               <option value="203">203</option>
								               <option value="204">204</option>
								               <option value="205">205</option>
								               <option value="206">206</option>
								           </select>
								       </li>
								       <li class="">
								           <select data-placeholder="选择无人船型号" id="selected3" class="chosen-select-class" style="display:none">
								               <option value="">-------选择无人船型号-------</option>
								               <option value="301">301</option>
								               <option value="302">302</option>
								           </select>
								       </li>
                                </ul>
                            </dd>
                        </dl>
                        </br>
                    </div>
<script>
                        //资源类型下拉框选择
                                    var domselected1 = document.getElementById('selected1');
                                    var domselected2 = document.getElementById('selected2');
                                    var domselected3 = document.getElementById('selected3');

                                    var classobj = document.getElementById('selectclass');
                                    var selectedIndex = classobj.selectedIndex;

                                    var selectclass = '';
                                    var selected_classNum = '';
                                    classobj.onchange = function selectClass(){
                                            selectclass = classobj.options[classobj.selectedIndex].value;
                                            if(selectclass == '1') {
                                                onlyshow(domselected1,domselected2,domselected3);

                                            }
                                            else if(selectclass == '2')  {
                                                onlyshow(domselected2,domselected1,domselected3);

                                            }
                                            else if(selectclass == '3') {
                                                onlyshow(domselected3,domselected1,domselected2);
                                            }
                                            else console.log('暂无信息')
                                    }
                                    document.getElementById('selectchild').onchange = function(){
                                        if(selectclass == '1') {
                                                selected_classNum = domselected1.options[domselected1.selectedIndex].value;
                                            }
                                            else if(selectclass == '2')  {

                                                selected_classNum = domselected2.options[domselected2.selectedIndex].value;
                                            }
                                            else if(selectclass == '3') {

                                                selected_classNum = domselected3.options[domselected3.selectedIndex].value;
                                            }
                                            else console.log('暂无信息')
                                                console.log(selected_classNum)
                                    }
                                    function onlyshow(showdom1, dom2, dom3) {//todo多个参数
                                        showdom1.style.display = 'block';
                                        dom2.style.display = 'none';
                                        dom3.style.display = 'none';
                                        console.log(showdom1);
                                    }

                    </script>

                    <div class="sys">
                        <dl>
                            <dd>
                                <label>镜像选择：</label>
                                <select data-placeholder="选择容器镜像" class="chosen-select-os" id="os_select">
                                    <option value="">-------选择容器镜像-------</option>
                                    {% for img  in img_list %}
                                        <option value="{{ img.id }}">{{ img.img_name }}</option>
                                    {% endfor %}
                                </select>
                            </dd>
                        </dl>
                    </div>

                    <div class="ram">
                        <dl>

                            <dd>
                                <label>内存：</label>
                                <input id="ex21" class="raminput" type="text"
                                       data-provide="slider"
                                       data-slider-ticks="[1, 2, 3, 4]"
                                       data-slider-ticks-labels='["100M", "200M", "300M", "400M"]'
                                       data-slider-min="1"
                                       data-slider-max="4"
                                       data-slider-step="1"
                                       data-slider-value="4"
                                       data-slider-tooltip="hide"/>
                            </dd>
                        </dl>
                    </div>

                    <div class="cpu">
                        <dl>
                            <dd>
                                <label>CPU：</label>
                                <input id="ex22" class="cpuinput" type="text"
                                       data-provide="slider"
                                       data-slider-ticks="[1, 2, 3, 4]"
                                       data-slider-ticks-labels='["1核", "2核", "4核", "8核"]'
                                       data-slider-min="1"
                                       data-slider-max="4"
                                       data-slider-step="1"
                                       data-slider-value="4"
                                       data-slider-tooltip="hide"/>
                            </dd>
                        </dl>

                    </div>


                    <input type="button" class="subinput" value="立即申请"/>
                </form>


            </div>
        </div>
    </section>

{% endblock %}
